<div class="main-content center-content">
    <table>
        <thead>
            <th>ID</th>
            <th>recrd</th>
            <th>vesslterms</th>
            <th>feature_type</th>
            <th>chart</th>
            <th>latdec</th>
            <th>londec</th>
            <th>gp_quality</th>
            <th>depth</th>
            <th>sounding_type</th>
            <th>history</th>
            <th>quasou</th>
            <th>watlev</th>
            <th>coordinates</th>
        </thead>
        <tbody>
            {{#each data }}
                <tr>
                    <td>{{ this._id }}</td>
                    <td>{{ this.recrd }}</td>
                    <td>{{ this.vesslterms }}</td>
                    <td>{{ this.feature_type }}</td>
                    <td>{{ this.chart }}</td>
                    <td>{{ this.latdec }}</td>
                    <td>{{ this.londec }}</td>
                    <td>{{ this.gp_quality }}</td>
                    <td>{{ this.depth }}</td>
                    <td>{{ this.sounding_type }}</td>
                    <td>{{ this.history }}</td>
                    <td>{{ this.quasou }}</td>
                    <td>{{ this.watlev }}</td>
                    <td>{{ this.coordinates }}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>