<div id="single-data">
    <p><b>ID:</b> {{ data._id }}</p>
    <p><b>recrd:</b> {{ data.recrd }}</p>
    <p><b>vesslterms:</b> {{ data.vesslterms }}</p>
    <p><b>feature_type:</b> {{ data.feature_type }}</p>
    <p><b>chart:</b> {{ data.chart }}</p>
    <p><b>latdec:</b><br> {{ data.latdec }}</p>
    <p><b>londec:</b><br> {{ data.londec }}</p>
    <p><b>gp_quality:</b><br> {{ data.gp_quality }}</p>
    <p><b>depth:</b><br> {{ data.depth }}</p>
    <p><b>sounding_type:</b><br> {{ data.sounding_type }}</p>
    <p><b>history:</b><br> {{ data.history }}</p>
    <p><b>quasou:</b><br> {{ data.quasou }}</p>
    <p><b>watlev:</b><br> {{ data.quasou }}</p>
    <p><b>coordinates:</b><br> {{ data.coordinates }}</p>
</div>